@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* color */
    --color-white: #ffffff;
    --color-dim-blue: rgba(23, 141, 208, 0.2);
    --color-blue: #178DD0;;
    --color-mid-blue: rgba(23, 141, 208, 0.6) ;
    --shadow-color: 0deg 0% 58%;

    /* typography */
    --fs-1: 38px;
    --fs-2: 35px;
    --fs-3: 30px;
    --fs-4: 22px;
    --fs-5: 20px;
    --fs-6: 15px;

    /* Font Weight */
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;

    /* Spacing */
    --px: 15px;
    --py: 80px;

    /* transition */
    /* default Transition */
    --dfat-trans: 0.50s ease;

    /* shadow  Ref: joshwcomeau.com/css/introducing-shadow-palette-generator */ 
    --shadow-medium: 2px 4px 8px hsl(var(--shadow-color) / 0.5);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font: inherit;
}

img, span, a, .material-icons-outlined{
    display: block;
}

button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

html{
    font-family: Poppins;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var();
}

::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background: var();
}

::-webkit-scrollbar-thumb:hover{
    background: var();
}

/* Reusable Style */
.section-subtitle{
    color: var();
    font-weight: var();
    text-transform: uppercase;
}

.section-title{
    font-weight: var();
    font-weight: var();
}

.section-text{
    color: var();
    font-size: var();
    line-height: 0;
}

.basic-padding{
    padding: 20px 0;
}

.basic-margin{
    margin: 20px 0;
}


