/* screen breakpoints */

/*===== Extra Small Feature Phone Screen =====*/
@media screen and (max-width: 320px) {
   
}

/*===== Tablet Screen =====*/
@media screen and (max-width: 600px) {

}

/*===== Notebook Size Large Screen =====*/
@media screen and (max-width: 900px) {

}

/*===== Large Screen =====*/
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        max-width: 1024px;
    }

    .nav__logo{
        width: 50px;
    }

    .navbar__logo-title{
        margin-top: 4px;
        font-size: 14px;
    }

    .nav__button{
        margin: 0 3px;
        padding: 6px;
    }

    .nav__button.login{
        width: 100px;
    }

    .nav__button.signin{
        width: 120px;
    }
}

